<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Tractor List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav>
    <h2>🚜 Tractor Dealership System</h2>
</nav>

<div class="form-container">

    <h1>Tractor List</h1>

    <div style="text-align:center;margin-bottom:20px;">
        <a href="/tractors/add/" class="btn">
            Add Tractor
        </a>
    </div>

    <div class="table-container">

        <table>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>HP</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

            {% for tractor in tractors %}
            <tr>

                <td>{{ tractor.tractor_name }}</td>
                <td>{{ tractor.model_no }}</td>
                <td>{{ tractor.company_name }}</td>
                <td>{{ tractor.price }}</td>
                <td>{{ tractor.horsepower }}</td>
                <td>{{ tractor.stock_quantity }}</td>
                <td>{{ tractor.stock_status }}</td>

                <td>
                    <a href="/tractors/update/{{ tractor.id }}">Edit</a>
                    |
                    <a href="/tractors/delete/{{ tractor.id }}">Delete</a>
                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

</body>
</html>