<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Update Tractor</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav>
<h2>🚜 Tractor Dealership System</h2>
</nav>

<div class="form-container">

<h1>Update Tractor</h1>

<form method="POST">

{% csrf_token %}

<input type="text"
name="tractor_name"
value="{{tractor.tractor_name}}">

<input type="text"
name="model_no"
value="{{tractor.model_no}}">

<input type="text"
name="company_name"
value="{{tractor.company_name}}">

<input type="number"
name="price"
value="{{tractor.price}}">

<input type="number"
name="horsepower"
value="{{tractor.horsepower}}">

<button type="submit">
Update Tractor
</button>

</form>

</div>

</body>
</html>